.shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 10px 10px;

    @media (max-width:  920px) {
        justify-content: center;
    }

    &__title {
        width: 100%;
        text-align: right;
        margin-right: 25px;
        font-size: 2em;
    }
}