section.page-content {
    background-color: #eee;
    box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.5);
    min-height: 100vh;
    left: 0;
    padding-left: 15%;
    position: absolute;
    top: 0;
    width: 85%;
    z-index: 1;
    transform: translateX(-105%);
    transition: transform .8s ease;
    
    @media (max-width: 920px) {
        padding-left: 0;
        z-index: 2;
        width: 100%;
    }
    
    .close-button {
        position: sticky;
        bottom: 50px;
        left: 50px;
        -webkit-backface-visibility: hidden;

        @media (min-width: 920px) { display: none; }
    }
    
    &.active {
        transform: translateX(0);
    }
}